:root {
    --core-grey:#212121;
    --core-orange:#ec482b;
    --core-foreground: #ffffff;
}


pre {
    font-size: 16px;
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
}

body {
    background-color: var(--core-grey);
}

a {
    color: var(--core-foreground);
}

.header {
    text-align: center;
    color: var(--core-foreground);
}

.prompt {
    background-color: var(--core-orange);
    color: var(--core-foreground);
}